
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalabel=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <title>y-Hacker</title>
    {% load static %}
    <link href="{% static 'js/bootstrap.min.js' %}">
    <script src="https://unpkg.com/scrollreveal"></script>

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <style>

        body{
            width: 100vw;
            height:100vh;
            background-image: url("{% static '1034101039.jpg'%}");
            background-position: 0% 9%;
            background-repeat: no-repeat;
            background-size: cover;

        }
        *{
            font-family:Berlin sans-serif;
            margin: 0;
            padding: 0;


        }
        .nav-link .navbar-brand{
            color: white;

        }
        .nav-link{
            font-size: 1.5vw;

        }
        .navbar-brand{
            font-size: 3vw;
        }
        .content{
            margin: 17vw;
            margin-bottom: 35vw;
        }
        h1{
            font-size: 5vw;
        }
        p{
            font-size: 22px;
            text-align: center;
        }
        .parallax{
            height: 30vw;
            background-image: url("{% static '739905.png' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white;
            display: flex;
            align-items: center;

        }
        input[type="text"]{
            width: 25vw;
        }
        textarea{
            width: 52vw;
        }

        .parallax2{
            height: 40vw;
           background:black;
            background-position:50% ;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;
            display: flex;
            align-items: center;

        }
        .parallax2 h2{
            color: black;
            padding-bottom:5vh ;

        }
        .parallax2 p{
            color: black;
            font-size: 1.3vw;

        }
        .btn1{
            float: left;
            background-color:transparent;
            color: white;
        }
        .btn2{
            float: right;
            background-color: transparent;
            color: white;
        }
        .cls-3{
            position: relative;
        }
        .cout{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: 3vw;


        }
        .footer{
            background-image: url("{% static 'Footer.png' %}");
            background-size: cover;
            background-position: center;
            height: 100vh;
            position: relative;
        }
        .rights{
            position: absolute;
            bottom: 0;
            color: white;




        }
        h2{

        }
    </style>
